<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fli.salesagentapp.fliagentapp">
     <!--<uses-permission android:name="${manifestApplicationId}.permission.C2D_MESSAGE"-->
         <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="${manifestApplicationId}.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!-- Apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!-- Solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!-- Huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoansActivity"
            android:label="@string/title_loan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentsActivity"
            android:label="@string/title_payments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectionsActivity"
            android:label="@string/title_collections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentMainMenu"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.SubmitDataService"
            android:enabled="true"></service>
    </application>

</manifest>